@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color: #FFFF;
}
h2{
    font-family: "Space Mono";
    text-align: center;
}
nav{
    background-color: #ACE5F2;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    border: 30px;
    padding: 8px;
    border-radius: 12px;
    background-color: #B6D936;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

nav a:hover{
    transform: scale(1.1);
}

.login-btn{
    margin-left: auto;
    margin-right: 2rem;
    font-size: larger;
}

.login-btn:hover{
    transform: scale(1.1);
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    text-align: center;
}

img{
    width: 700px;
    height: 350px;
    float: left;
    margin: 0 20px 15px 0;
    border: none;
    border-radius: 12px;
}